{%load static%}
<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> Django React Typescript Setup </title>
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
    </head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <body>
        <div id="root"></div>
    </body> 
    <script src="{% static "frontend/bundle.js" %}"></script>
</html> 